@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --text-color-primary: #fff;
    --text-color-secondary: #ccc;
    --background: #0A0119;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Martian Mono", monospace, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text-color-primary);
}   

a {
    color: var(--text-color-primary);
}

li {
    list-style-type: none;
}

.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    left: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 16px;
    margin: auto;
}